body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.start-page{
    background-color: #4CAF50;
    width: 100vw;
    height: 100vh;
}

h1,
h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    max-width: 600px;
}

label {
    display: block;
    margin: 10px 0;
}

input,
select,
textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

select option:first-child {
    color: #ccc;
}
button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
textarea{
    resize: vertical;
}

.order-preview {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto auto;
    max-width: 600px;
}

#order-details {
    margin: 10px 0;
}

#confirm {
    margin-top: 10px;
}