@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:ital,wght@0,600;1,300&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#c9e5e9, #ccddf9);
    height: 100vh;
}

h1,
h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 40px auto;
    max-width: 600px;
}

label {
    font-size: 18px;
    display: block;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif, Bold;
}


input,
select,
textarea {
    color: #030303;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #8f8e8e;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Montserrat', sans-serif;
    color: #615a5a;
    font-size: 0.9rem;
    font-weight: 500;
    background: none;
}



select option:first-child {
    color: #ccc;
}

button {
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 1px solid #ccc;
    color: #030303;
    background-color: rgba(0, 0, 0, 0.15);
}

button:hover {
    background-color: #555555;
    color: white;
}

textarea {
    resize: vertical;
}

.order-preview {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto auto;
    max-width: 600px;
    background: none;
}


#order-details {
    margin: 10px 0;
}

#confirm {
    margin-top: 10px;
}
@media screen and (max-width: 1000px) {
    body {
        overflow:scroll;
        height: 100%;
    }
}